<h2>New Message Form</h2>
<form action="/new" method="POST">
  <label for="authorName" class="authorName"
    >Author name:
    <input type="text" name="authorName" id="authorName" placeholder="John Doe"
  /></label>
  <label for="message" class="message"
    >Message:
    <textarea
      type="text"
      name="message"
      id="message"
      placeholder="Merry Christmas"
    ></textarea>
  </label>
  <button>Submit</button>
</form>
