<html>
  <head>
    <title>Write Message</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <%- include('navBar'); %>
      <h1>Message details</h1>
    </header>
    <li class="message-details">
      <span class="username"><%=user.user%>:</span>
      <span class="message"><%=user.text%></span>
      <span class="date"><em><%=user.added%></em></span>
    </li>
  </body>
</html>
