<html>
  <head>
    <title>Write Message</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
        <%- include('navBar'); %>
        <h1>Write a message</h1>
    </header>
    <%- include('form'); %>
  </body>
</html>
