* {
  line-height: 1.5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style-type: none;
}

.navBar {
  display: flex;
  justify-content: space-around;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  margin: 5px;
}

label {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin: 5px;
  font-weight: bold;
}

button {
  display: block;
  margin: auto;
  margin-top: 10px;
  border-radius: 5px;
  outline: none;
  border: 0.5px solid rgba(0, 0, 0, 0.514);
  background-color: #3f84e5;
  color: white;
  padding: 2px 9px;
}

button:hover {
  background-color: #1c6fe2;
  cursor: pointer;
}

button:focus {
  background-color: #0060e6;
}

.message-details {
  display: flex;
  gap: 10px;
  font-size: 1.1rem;
  align-items: baseline;
}

.message-details .date {
  font-size: 0.95rem;
}
